*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ------------------------------- Global Styles and page elements */
html {
  height: 100%; /* makes sure our HTML takes up 100% of the browser window */
  font-size: 62.5%;
}

body {
  font-family: 'Roboto'; /* sets our font to the "Open Sans" typeface */
	font-style: light;
  color: white;             /* sets the text color to white */
  min-height: 100%;         /* says the height of the body must be, at minimum, 100% of the window */
	font-size: 1.6rem;
	background-color: black;
}

p {
	color:white;
}

.main-content {
	width: 80%;
	margin: 0 auto;
}
.sub-paragraph-callout {
	padding-bottom: 30px;
	font-family: 'Shadows Into Light', cursive;
/*	text-transform: uppercase;*/
	color: white;
	font-size: 2.5rem;
}

.mini-message {
	color: white;
	font-size: 2rem;
}

.quote {
	color: white;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	padding: 50px 50px;
	font-size: 2.5rem;
	color: dimgrey;
	width: 80%;
	margin: 0 auto;
}

.divider {
	margin: 50px auto;
	display: block;
	width: 200px;
	height: 2px;
	background-color: yellow;
}

/* ------------------------------- Hero Title */
.hero-content {
  position: relative; /* positioning will be explained in a resource */
  min-height: 600px;  /* hero content element must be _at least_ 600 pixels */
  background-image: url(../assets/images/sunsetImage.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
	color: white;
	text-align: center;
}
.hero-title {
	position: absolute;
	color: black;
	font-family: 'Comfortaa';
	-webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
	top:40%;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
	text-transform: uppercase;
}
.hero-subtitle {
	position: absolute;
	color: whitesmoke;
	font-family: 'Comfortaa';
	-webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
	top:48%;
	font-size: 3rem;
}


/* ------------------------------- Navigation */
nav {
  padding: 0.5rem;
  z-index: 1;
	background-color: #fff;
	overflow: hidden;
  width: 100%;
}

h1 {
/*	font-family: 'Comfortaa';*/
		font-family: 'Shadows Into Light', cursive;
	text-transform: uppercase;
}

.navbar {
	display: block;
	text-align: center;
}

.navbar a{
	display:inline-block;
	text-decoration: none;
	padding: 10px 20px;
	margin: 0px 10px;
	color:black;
	font-family: 'Comfortaa';
	text-transform: uppercase;
	font-weight: bold;
}

.fixed {
	position: fixed;
}

.fixed-position-bottom {
	position: absolute;
	bottom:5px;
}

.relative {
	position: absolute;
	top:600px;
}

/* ------------------------------- About me container */
.all-about-me{
	padding-top: 60px;
	padding-bottom: 60px
	margin:0 auto;
}

h1.all-about-me{
	margin-bottom: 5px;
}

/* ------------------------------- Skills container */
.strengths{
	padding-top: 60px;
	margin:0 auto;
}