*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ------------------------------- Global Styles */
html {
  height: 100%; /* makes sure our HTML takes up 100% of the browser window */
  font-size: 62.5%;
}

body {
  font-family: 'Roboto'; /* sets our font to the "Open Sans" typeface */
	font-style: light;
  color: black;             /* sets the text color to white */
  min-height: 100%;         /* says the height of the body must be, at minimum, 100% of the window */
	font-size: 1.6rem;
	background-color: black;
}

p {
	color:white;
}

/* ------------------------------- Hero Title */
.hero-content {
  position: relative; /* positioning will be explained in a resource */
  min-height: 600px;  /* hero content element must be _at least_ 600 pixels */
  background-image: url(../assets/images/sunsetImage.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
	color: white;
	text-align: center;
}
.hero-title {
	position:absolute;
	font-family: 'Roboto';
	-webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
	top:40%;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
/*  text-transform: uppercase;*/
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 0px rgb(58,23,63);
}

/* ------------------------------- Navigation */
nav {
/*  position: absolute;*/
  padding: 0.5rem;
  z-index: 1;
	background-color: #fff;
	overflow: hidden;
  width: 100%;
}

.navbar {
	display: block;
	text-align: center;

}
.navbar a{
	display:inline-block;
	text-decoration: none;
	padding: 10px 20px;
	margin: 0px 10px;
	
}

.fixed {
	position: fixed;
}

.fixed-position-bottom {
	position: absolute;
	bottom:5px;
}

.relative {
	position: absolute;
	top:600px;
}